<form class="box" action="/station/{{station._id}}/addReport" method="POST">
  <label>Enter Report Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Code" name="code">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Temperature" name="temperature">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Wind Speed" name="windSpeed">
      </div>

      <div class="field">
        <div class="control">
          <div class="select is-fullwidth">
            <select class="has-text-grey-light" name="windDirection" required>
              <option value="" disabled selected>Wind Direction</option>
              <option value="north">North</option>
              <option value="north-east">North-East</option>
              <option value="east">East</option>
              <option value="south-east">South-East</option>
              <option value="south">South</option>
              <option value="south-west">South-West</option>
              <option value="west">West</option>
              <option value="north-west">North-West</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <input class="input" type="text" placeholder="Pressure" name="pressure">   
      </div>   
    </div>
  </div>
  <button class="button is-primary">Add Report</button>
</form>

<!--Adding auto Report-->
<form class="box" action="/station/{{station._id}}/addReportAuto" method="POST">
  <label>Generate Auto Report Details:</label>
  <br><br>
  <button class="button is-primary">Add Auto Report</button>
</form>







