<form action="/dashboard/addStation" method="POST">
  <div class="field">
    <div class="columns">
      <div class="column">
        <label class="label">Name</label>
        <input class="input" type="text" placeholder="Name" name="title">
      </div>
      <div class="column">
        <label class="label">Latitude</label>
        <input class="input" type="text" placeholder="00.00" name="latitude">
      </div>
    <div class="column">
        <label class="label">Longitude</label>
        <input class="input" type="text" placeholder="00.00" name="longitude">
      </div>
    </div>
  </div>
  <button class="button is-link">Add Station</button>
</form>
<br><br>
<!--Auto Form-->
<form action="/dashboard/addStationAuto" method="POST">
  <label>Or add an auto station:</label>
  <div class="field">
    <div class="columns">
      <div class="column">
        <label class="label">Name</label>
        <input class="input" type="text" placeholder="Name" name="title"style="width: 35%;">
      </div>
  </div>
  <button class="button is-link">Add Auto Station</button>
</form>

<script>
  const params = new URLSearchParams(window.location.search);//Reads the current URL’s query string (like ?updated=true)
  console.log("Params:", params);
  if (params.get("cityNull") === "true") {
    alert("City input not found. Please check if name is correct or you can add then using teh first fields."); 

    // Remove the query param from the URL without reloading the page
    const originalUrl = window.location.origin;
    console.log("Original URL:", originalUrl);
    const currentPath = window.location.pathname;
    console.log("Current Path:", currentPath);
    const newUrl = `${originalUrl}${currentPath}`; // Construct the new URL without query params
    console.log("New URL:", newUrl);
    window.history.replaceState({}, document.title, newUrl);  
  }

</script>