<div class="title p-3 is-flex is-align-items-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" aria-label="Weather icon">
    <rect width="30" height="30" fill="none"/>
    <path fill="#01beec" d="M1.48 21.1q0 .36.27..."></path>
  </svg>

  <!-- Dynamic Brand name -->
  <div class="ml-4 is-size-5">
    <img src="/images/logo.png" alt="Logo" class="mr-2" style="height: 30px;">
    {{#if brandName}}
      {{brandName}}
    {{else}}
      Weather Top Services Inc
    {{/if}}
  </div>

</div>
