<nav class="navbar mb-6" style="border: 1px solid #ccc; padding: 0;">

  <div class="navbar-brand">
    <div class="columns">
      <div class="column">
        <a id="weatherTop" 
          class="button has-text-info is-size-3 has-text-weight-bold"
          href="/weatherTop"
          style="border: 1px solid #ccc; padding: 0.5rem 1rem;">
          Weather Top
        </a>
      </div>
      <div class="column">{{> brand}}</div>
     
    </div>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
          <a id="about" class="button" href="/about"> About </a>
          <a id="user" class="button" href="/user"> 
             <img src="/images/user.png" alt="User Information" title="Edit User Information">
          </a>
          <a id="logout" class="button" href="/logout" title="Logut">
          <img src="/images/logout.png" alt="Lgout">
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>
