{{> menu active="about"}}

<section class="box">
  <div class="columns is-vcentered">
  
    <!-- Left column with centered content -->
    <div class="column has-text-centered">
      <h3 class="title">Weather App</h3>
      <div class="section">
        Monitor latest weather station readings.
      </div>
    </div>

    <!-- Right column for image -->
    <div class="column is-narrow">
      <img src="/images/about_banner.png" alt="WeatherTop – About banner">
    </div>
  </div>
</section>
